$normalButtonColor: #272F32;
$hoverButtonColor: #1B2F37;
$disabledButtonColor: #696969;
$activeButtonColor: #34505A;
$mobileHeaderColor: #E5E1DE;

$normalTextColor: #FFFFFF;
$fontFamily: 'Inter', sans-serif;
$fontWeight700: 700;
$fontWeight500: 500;


$mobileS: '320px';
$mobileL: '580px';
$tablet: '768px';
$laptop: '1024px';


